/* --------- Global Styles --------- */

*{
    font-family: 'Hind', sans-serif;
    text-align: center;
    color: #000;
    background-color: #fff;
}

img {
    max-width: 100%;
}

/* --------- Header Section --------- */

h1 {
    letter-spacing: 0.3em;
    font-size: 40px;
}

/* --------- Nav Section --------- */

nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
    font-size: 22px;
}

nav a {
    text-decoration: underline;
}

nav a:hover {
    color: #999;
}

/* --------- Mission Statement --------- */

.mission-container {
    display: flex;
    height: 350px;
    background-image: url('./Images/Mission\ Background.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    background-image: no-repeat;
    background-attachment: fixed;
    margin-bottom: 60px;
}

.mission-statement {
    text-align: center;
    opacity: 0.9;
    margin: 0 auto;
    width: 100%;
}

.mission-statement h2 {
    font-size: 30px;
    margin-bottom: -20px;
    letter-spacing: 0.05em;
}

.mission-statement h4 {
    font-size: 18px;
}


/* -------- Portfolio -------- */

.portfolio {
    margin-bottom: 10px;
}

.portfolio-container {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
}

.logo {
    margin-right: 22px;
    border-radius: 2px;
    width: 210px;
    height: 150px;
    margin-bottom: -20px;
    border-radius: 2.5%;
}

.portfolio-item h4 {
    font-size: 22px;
    letter-spacing: 0.1em;
}

/* -------- Investment Team --------*/

.investment-team {
    background:url('./Images/investment-background.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    background-image: no-repeat;
    margin-bottom: 60px;
    width: 100%;
    height: auto;
}

.investment-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    background: none;
}

.investment-container h2,
.investment-container h3 {
    background: none;
    color: white;
    margin: 0;
}

.investment-team h2 {
    font-size: 32px;
    letter-spacing: 0.05em;
}

.investment-item img {
    width: 300px;
    height: 190px;
}

.investment-item {
    background: none;
    margin: 20px 40px 20px 0;
}

/* -------- Footer and Copyright -------- */

footer h2 {
    font-size: 40px;
    letter-spacing: 0.3em;
}

footer p {
    font-size: 24px;
    letter-spacing: 0.1em;
}